
@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@import "tailwindcss";

@theme {
  --font-poppins: "Poppins", sans-serif;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
.scrollbar-hidden{
    scrollbar-width: none;
}
.scrollbar-hidden::-webkit-scrollbar{
    display: none;
}
.swiper-button-next,
.swiper-button-prev {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  /* background: black; */
  color: rgb(52, 119, 166);
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 20px;
  font-weight: bold;
}
